nav {
    margin: 1rem 1.5rem;
    padding: 0 28px;
    height: 5rem;

    display: flex;
    align-items: center;

    background: rgba(27, 16, 43, 0.88);

    border: 1px solid var(--border);
    border-radius: 18px;

    box-shadow:
        0 12px 10px rgba(0, 0, 0, 0.35),
        0 0 10px rgba(139, 95, 191, 0.08);

    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    
    position: fixed;
    width: 97%;
}

.nav-sec-1{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-sec-2{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2rem;
}

.nav-sec-1 img{
    height: 5rem;
    width: auto;
}

.nav-sec-1 h3:hover,.nav-sec-1 h2:hover,.nav-sec-2 a:hover {
    cursor: pointer;
    color: #B98AD9;
    transform: translateY(-2px);
    text-shadow: 0 2px 15px rgba(185, 138, 217, 0.5);
}